HOST=0.0.0.0
PORT=3030
# BLACKBOX_VALIDATION_TOKEN=xxxxxxx-xxxxxx-xxxxxx-xxxxxx-xxxxxxxxxxxxxxxx
# ここにはログイン後のcookieに含まれる NextAuth の next-auth.session-token= 以降を入れてください
# 値がある場合は email/password 自動ログインよりこちらが優先されます
# BLACKBOX_SESSION_TOKEN=Your-BlckboxAI-NextAuth-session-token
# 有料アカウントを利用していない場合は必要なし
# BLACKBOX_CUSTOMER_ID=
# 値がある場合は自動取得よりこちらが優先されます

# email password からログインをし、自動でセッションを作成します
# BLACKBOX_LOGIN_EMAIL=you@example.com
# BLACKBOX_LOGIN_PASSWORD=your-password
# BLACKBOX_LOGIN_EAGER=true
# BLACKBOX_LOGIN_RETRY_COOLDOWN_MS=60000

CORS_ORIGINS=*
CORS_CREDENTIALS=false

DEBUG_LOG=true
