HOST=0.0.0.0
PORT=3030
BLACKBOX_VALIDATION_TOKEN=a38f5889-8fef-46d4-8ede-bf4668b6a9bb
# ここにはログイン後のcookieに含まれる NextAuth の next-auth.session-token= 以降を入れてください
BLACKBOX_SESSION_TOKEN=Your-BlckboxAI-NextAuth-session-token
# 有料アカウントを利用していない場合は必要なし
# BLACKBOX_CUSTOMER_ID=

CORS_ORIGINS=*
CORS_CREDENTIALS=false

DEBUG_LOG=true